footer {
    height: auto;
    background-color: #F6F6F5;
    width: 100%;
    bottom: 0;
    clear: both;

    a {
        font-family: fontMain;
        text-decoration: none;
        color: #36669B;
        line-height: 60px;
    }

    .footerUl {
        list-style: none;
        padding: 0px;

        li {
            height: 30px;
            display: inline;

            a {
                padding: 10px;
            }
        }
    }

    @media screen and (max-width: 480px) {
        .footerUl {
            li {
                display: block;
            }
        }
    }
}