nav{
	background-color: $bg-clear;

}
.logopadre{
		a{
	
	text-decoration: none;
	color: #36669B;
	line-height: 80px;
	float: left;
	
	}

}

.separadorNav{
	top: 0;
	width: $w-100;
	height: auto;
	border-bottom: solid 2px #6CB4B5;
}

.sl1{
	color: $fc-w;
	font-weight: bold;
}

.sl2{
	color: $fc-b;
	font-weight: bold;
	margin-bottom: 0px;
}

.sl3{
	color: $fc-o;
	font-weight: bold;
}
.divnav{
	float: right;
}